<div class="container">
     <h1>Create an Event</h1>
    
    <!-- Step Form -->
    
    <div class="stage-container clearfix">
      <div class="stage current">
        <div class="stage-icon"><i class="fa fa-calendar"></i> </div>
        <div class="stage-title">Events Details</div>
      </div>
      <!--/ .stage-->
      
      <div class="stage">
        <div class="stage-icon"><i class="fa fa-tags"></i></div>
        <div class="stage-title">Price &amp; Links</div>
      </div>
      <!--/ .stage-->
      
      <div class="stage">
        <div class="stage-icon"><i class="fa fa-eye"></i></div>
        <div class="stage-title">Look &amp; Feel</div>
      </div>
      <!--/ .stage-->
      
      <div class="stage">
        <div class="stage-icon"><i class="fa fa-cog"></i></div>
        <div class="stage-title">Setting</div>
      </div>
      <!--/ .stage--> 
    </div>
    
    <!-- //Step Form --> 
    
    <!-- Form COntainer -->
    
    <div class="form-section">
      <form class="event-form">
        <!-- Event Detail Form -->
   
          <div class="form-group">
            <label for="eventname">Event Name<span class="req">*</span></label>
            <input type="text" name="eventname" class="form-control" placeholder="Title of your Event">
          </div>
          <!-- Date Event Group -->
          <div class="form-group field-group">
            <label>Date and Time<span class="req">*</span></label>
            <div class="event-date fieldSection"> 
              <!-- Nav tabs -->
              <div class="content-tab">
                <ul class="nav nav-tabs responsive-tabs" id="event-date" role="tablist">
                 <!-- <li  class="active"><a href="#single-event" >Single Event</a></li>
                  <li><a href="#multiple-event" >Multiple Event</a></li>-->
                  <li  class="active"><a href="javascript:void(0)" >Single Event</a></li>
                  <li><a href="javascript:void(0)"  >Multiple Event</a></li>
                </ul>
              </div>
              
              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="single-event">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="StartTime">Start Time</label>
                        <input type="text" name="StartTime" value="4:00pm" class="form-control" placeholder="Start Time">
                      </div>
                      <div class="form-group">
                        <label>From</label>
                        <div id="datetimepicker1"> <img src="images/calendar.jpg" class="img-responsive" alt="" /> </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="EndTime">End Time</label>
                        <input type="text" name="EndTime" value="6:00pm" class="form-control" placeholder="End Time">
                      </div>
                      <div class="form-group">
                        <label>To</label>
                        <div id="datetimepicker"> <img src="images/calendar.jpg" class="img-responsive" alt="" /> </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <label>Select/Deslect Events</label>
                      <div class="clearfix list-event-date">
                      <div class="col-sm-3 pull-right text-right lss-top"> <a  href="javascript:void(0)" ><i class="fa fa-close"></i></a> </div>
                        <div class="col-sm-3"> Friday, 4 March 2016 </div>
                        <div class="col-sm-3"> Start Time : 4:00pm </div>
                        <div class="col-sm-3"> End Time : 6:00pm </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="multiple-event">...</div>
              </div>
            </div>
          </div>
          <!-- //Date Event Group --> 
          
          <!-- Location Group -->
          <div class="form-group field-group">
            <label for="Location">Location<span class="req">*</span></label>
            <!-- Date Event Group -->
            <div class="event-date fieldSection">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <ul class="nav nav-tabs responsive-tabs">
                 <!--  <li class="active"> <a href="#venue-event">Add New Venue</a></li>
                   <li><a href="#location-event">Use Post Location</a></li>-->
                   <li class="active"> <a href="javascript:void(0)">Add New Venue</a></li>
                   <li><a href="javascript:void(0)">Use Post Location</a></li>
                   </ul>
               
              <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="venue-event">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="EventName">Venue Type<span class="req">*</span></label>
                            <select class="form-control">
                              <option>Ticket</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12">
                          <div class="form-group">
                            <label for="Venue">Venue<span class="req">*</span></label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12">
                          <div class="form-group">
                            <label for="Address">Address<span class="req">*</span></label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="City">City<span class="req">*</span></label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="Zipcode">Zipcode<span class="req">*</span></label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="City">State<span class="req">*</span></label>
                            <select class="form-control">
                              <option>Select State</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="Zipcode">Country<span class="req">*</span></label>
                            <select class="form-control">
                              <option>USA</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="location-event">...</div>
                  </div>
                  
                  <!-- Tab panes -->
                  
                </div>
                <div class="col-sm-12 col-md-6"> <img src="images/map.jpg" class="img-responsive" alt="" /> </div>
              </div>
            </div>
          </div>
          <!-- //Location Group -->
      
        <!-- //Event Detail Form -->
        
        <fieldset>
          <div class="form-top">
            <div class="form-top-left">
              <h3>Step 2 / 3</h3>
              <p>Set up your account:</p>
            </div>
            <div class="form-top-right"> <i class="fa fa-key"></i> </div>
          </div>
          <div class="form-bottom">
            <div class="form-group">
              <label class="sr-only" for="form-email">Email</label>
              <input type="text" name="form-email" placeholder="Email..." class="form-email form-control" id="form-email">
            </div>
            <div class="form-group">
              <label class="sr-only" for="form-password">Password</label>
              <input type="password" name="form-password" placeholder="Password..." class="form-password form-control" id="form-password">
            </div>
            <div class="form-group">
              <label class="sr-only" for="form-repeat-password">Repeat password</label>
              <input type="password" name="form-repeat-password" placeholder="Repeat password..." 
				                        				class="form-repeat-password form-control" id="form-repeat-password">
            </div>
            <button type="button" class="btn btn-previous">Previous</button>
            <button type="button" class="btn btn-next">Next</button>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-top">
            <div class="form-top-left">
              <h3>Step 3 / 3</h3>
              <p>Social media profiles:</p>
            </div>
            <div class="form-top-right"> <i class="fa fa-twitter"></i> </div>
          </div>
          <div class="form-bottom">
            <div class="form-group">
              <label class="sr-only" for="form-facebook">Facebook</label>
              <input type="text" name="form-facebook" placeholder="Facebook..." class="form-facebook form-control" id="form-facebook">
            </div>
            <div class="form-group">
              <label class="sr-only" for="form-twitter">Twitter</label>
              <input type="text" name="form-twitter" placeholder="Twitter..." class="form-twitter form-control" id="form-twitter">
            </div>
            <div class="form-group">
              <label class="sr-only" for="form-google-plus">Google plus</label>
              <input type="text" name="form-google-plus" placeholder="Google plus..." class="form-google-plus form-control" id="form-google-plus">
            </div>
            <button type="button" class="btn btn-previous">Previous</button>
            <button type="submit" class="btn">Sign me up!</button>
          </div>
        </fieldset>
      </form>
      <div class="editr">
        <label>Event Description<span class="req">*</span></label>
        <img src="images/editor.png" alt="editor" class="img-responsive"/>
        <div class="editor-btn">
          <button class="gray-btn btn">Save</button> 
          <button class="pink-btn btn">Next</button>
        </div>
      </div>
    </div>
    
    <!-- //Form COntainer --> 
  </div>