@media (min-width: 980px) and (max-width: 1199px) { 
footer h2{font-size:16px;}

}
@media (min-width: 768px) and (max-width: 979px) { 
footer h2{font-size:16px;}
#venue-event .bootstrap-select.btn-group .dropdown-toggle .caret{border-left:4px solid transparent;border-right:4px solid transparent;border-top:4px dashed; color:#b3b3b3;}/*Select*/
.nwsltr {
  margin-top: 20px;
}
}
@media (max-width: 767px) 
{
h1{font-size:1.8em; padding: 40px 0 10px;}
.mob-clear:after{content:" "; display:block; visibility:hidden; height:0; clear:both; font-size:0;}
.welcometxt{margin:0 -15px; padding:10px 15px; border-bottom:1px rgba(255,255,255,0.2) solid; float:none; }
.price {margin-top:-20px;}
footer ul{margin-bottom:20px;margin-top:0px;}
footer h2{margin-bottom:10px;}	footer i{margin:0px 10px 20px 0px;}
.nwsltr input[type="text"], .ent{margin-top:10px;}
.form-section{padding:15px;}
.stage-container .stage{width:auto;margin-left:-2px;margin-right:-3px;float:none;}
.stage-container{text-align:center;}
.stage-container .stage::before, .stage-container .stage::after{display:none;}
.stage-container .stage-title{display:none;}
.form-section .form-group .fieldSection{padding:0px;background:none;}
.list-event-date > div{padding:0px; line-height:30px;}
.form-section .tab-content .list-event-date{padding:5px; border:1px solid #ccc;}
.lss-top{margin-top:-10px;}

.navbar .container{padding-left:0; padding-right:0;}
#primary_nav_wrap > ul > li{width:100%;}
#primary_nav_wrap ul ul{position:static;}
}
@media (max-width: 550px)
{
.form-section .form-group .fieldSection ul.nav-tabs > li{width:100%;}
.form-section .form-group .fieldSection ul.nav-tabs > li:first-child a, .form-section .form-group .fieldSection ul.nav-tabs > li a{border-radius:0px;}
.stage-container .stage-icon{width:40px; height:40px;font-size:20px;line-height:34px;}
.stage-container .stage-icon i{font-size:20px;}
.title h1{font-size:2em;}
} 