<div class="container">
     <h1>Create an Event</h1>
    
    <!-- Form COntainer -->
    
    <div class="wt-frame form-section">
        <section class="row">
        	<section class="col-sm-4">
            	<section class="events-col">
                    <p class="ev-icon"><span><img src="images/icons/event-single.png" alt=""/></span></p>
                    <h2>Single Event</h2>
                    <p class="col-con">Create a new one-time event. Edit ticket inventory and details.</p>
                    <p><a  ui-sref="create_event_step1" class="btn pink-btn">More details</a></p>
                </section>
            </section><!--/Single Event-->
            
            <section class="col-sm-4">
            	<section class="events-col">
                    <p class="ev-icon"><span><img src="images/icons/event-series.png" alt=""/></span></p>
                    <h2>Event Series</h2>
                    <p class="col-con">Create a recrurring event and determine a schedule.</p>
                    <p><a  ui-sref="create_event_step1" class="btn pink-btn">More details</a></p>
                </section>
            </section><!--/Event Series-->
            
            <section class="col-sm-4">
            	<section class="events-col">
                    <p class="ev-icon"><span><img src="images/icons/dollar.png" alt=""/></span></p>
                    <h2>Event Package</h2>
                    <p class="col-con">Create a single listing for a multi-event package of tickets.</p>
                    <p><a href="javascript:void(0)" class="btn pink-btn">More details</a></p>
                </section>
            </section><!--/Event Package-->
        </section>
    </div>
    
    <!-- //Form COntainer --> 
  </div>