  
  
  
  <!-- Container -->
  <div class="container">
      <h1>Event Dashboard</h1>
    
    <!-- Form COntainer -->
    
    <div class="wt-frame form-section">
        <section class="d-panel">
        	<section class="d-panel-heading">
            	<section class="row">
                    <section class="col-sm-7 activity">Activity for 30 days <a href="#" class="pink-btn btn sml-btn m-fw"><i class="fa fa-refresh"></i> Refresh</a> what are these numbers?</section>
                    <section class="col-sm-5 days-sort"><a href="#">30 days</a><a href="#">7 days</a><a href="#">24 hours</a></section>
                </section>
            </section>
            <section class="d-panel-body">
            	<section class="row">
                    <section class="col-sm-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-ticket fa-4x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">26</div>
                                        <div>Tickets Sold</div>
                                    </div>
                                </div>
                            </div>
                           <div class="panel-footer same-as text-center">Same as past 30 days</div>
                        </div><!--Tickets Sold-->
                        <div class="panel panel-pink">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-usd fa-4x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">0.00</div>
                                        <div>Tickets Revenue</div>
                                    </div>
                                </div>
                            </div>
                           <div class="panel-footer same-as text-center">Same as past 30 days</div>
                        </div><!--Tickets Revenue-->
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-percent fa-4x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">0.0</div>
                                        <div>Conversion Rate</div>
                                    </div>
                                </div>
                            </div>
                           <div class="panel-footer same-as text-center">Same as past 30 days</div>
                        </div><!--Conversion Rate-->
                    </section>
                    <section class="col-sm-8">
                    	<section class="panel graph-frame">
                            <section class="panel-body">Graph area</section>
                        </section>
                    </section>
                </section>
            </section>
        </section> <!--/Top Section-->
        <section class="module">
        	<section class="prof-hd no-icon">
                   <!--<i class="fa fa-ticket hdicon pos-l16"></i>-->
                    <h2>Upcoming Events <span class="rt-img"><i class="fa fa-caret-down"></i></span></h2>
            </section>
            <section class="gray-frame">
            	<section class="top-buttons">
                	<button type="button" class="btn pink-btn btn-small"><i class="fa fa-plus-square"></i> Create Event</button><button type="button" class="btn pink-btn btn-small">View All Upcoming Events</button><button type="button" class="btn pink-btn btn-small">View All Upcoming Series</button>
                </section>
                
                <section class="grid-widget">
                  <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th width="10%">ID</th>
                                <th width="24%">Event</th>
                                <th width="20%">Date &amp; Time</th>
                                <th width="12%" class="numbers">Sold</th>
                                <th width="12%" class="numbers">Enventory</th>                        
                                <th width="22%">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                          
                            <tr>
                                <td><a href="#"><strong>4110591</strong></a></td>
                                <td><p><a href="#"><strong>The Lion King</strong></a></p>
        <p>Minskoff theatre (New York, NY)</p></td>
                                <td>Sat Mar 12 2016 at 12:00pm</td>
                                <td class="numbers">10</td>
                                <td class="numbers">900</td>
                                
                                <td class="action"><a href="#"><i class="fa fa-pie-chart"></i></a><a href="#"><i class="fa fa-calendar-o"></i></a><a href="#"><i class="fa fa-edit"></i></a><a href="#"><i class="fa fa-eye"></i></a></td>
                            </tr>
                            <tr>
                                <td><a href="#"><strong>4110591</strong></a></td>
                                <td><p><a href="#"><strong>The Lion King</strong></a></p>
        <p>Minskoff theatre (New York, NY)</p></td>
                                <td>Sat Mar 12 2016 at 12:00pm</td>
                                <td class="numbers">10</td>
                                <td class="numbers">900</td>
                                
                                <td class="action"><a href="#"><i class="fa fa-pie-chart"></i></a><a href="#"><i class="fa fa-list-ul"></i></a><a href="#"><i class="fa fa-edit"></i></a><a href="#"><i class="fa fa-eye"></i></a></td>
                            </tr>
                            <tr>
                                <td><a href="#"><strong>4110591</strong></a></td>
                                <td><p><a href="#"><strong>The Lion King</strong></a></p>
        <p>Minskoff theatre (New York, NY)</p></td>
                                <td>Sat Mar 12 2016 at 12:00pm</td>
                                <td class="numbers">10</td>
                                <td class="numbers">900</td>
                                
                                <td class="action"><a href="#"><i class="fa fa-pie-chart"></i></a><a href="#"><i class="fa fa-calendar-o"></i></a><a href="#"><i class="fa fa-edit"></i></a><a href="#"><i class="fa fa-eye"></i></a></td>
                            </tr>
                
                        </tbody>
                
                    </table>
                  </div>
                  <section class="grid-bottm clearfix">
                    <section class="gr-right pull-right">
                    	<ul class="legends">
                        	<li><i class="fa fa-calendar-o"></i> <span>Schedules</span></li>
                            <li><i class="fa fa-pie-chart"></i><span>Overview</span></li>
                            <li><i class="fa fa-list-ul"></i><span>Guest List</span></li>
                            <li><i class="fa fa-edit"></i><span>Edit</span></li>
                            <li><i class="fa fa-eye"></i><span>View</span></li>
                        </ul>
                    </section>
                </section>
              </section>
            </section>
        </section><!--/Upcoming Events-->
        <section class="module">
        	<section class="prof-hd no-icon">
                   <!--<i class="fa fa-ticket hdicon pos-l16"></i>-->
                    <h2>Past Events <span class="rt-img"><i class="fa fa-caret-down"></i></span></h2>
            </section>
            <section class="gray-frame">
            	<section class="top-buttons">
                	<button type="button" class="btn pink-btn btn-small">View All Past Events</button><button type="button" class="btn pink-btn btn-small">View All Past Series</button>
                </section>
                
                <section class="grid-widget">
                  <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th width="10%">ID</th>
                                <th width="24%">Event</th>
                                <th width="20%">Date &amp; Time</th>
                                <th width="12%" class="numbers">Sold</th>
                                <th width="12%" class="numbers">Enventory</th>                        
                                <th width="22%">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                          
                            <tr>
                                <td><a href="#"><strong>4110591</strong></a></td>
                                <td><p><a href="#"><strong>The Lion King</strong></a></p>
        <p>Minskoff theatre (New York, NY)</p></td>
                                <td>Sat Mar 12 2016 at 12:00pm</td>
                                <td class="numbers">10</td>
                                <td class="numbers">900</td>
                                
                                <td class="action"><a href="#"><i class="fa fa-pie-chart"></i></a><a href="#"><i class="fa fa-calendar-o"></i></a><a href="#"><i class="fa fa-edit"></i></a><a href="#"><i class="fa fa-eye"></i></a></td>
                            </tr>
                            <tr>
                                <td><a href="#"><strong>4110591</strong></a></td>
                                <td><p><a href="#"><strong>The Lion King</strong></a></p>
        <p>Minskoff theatre (New York, NY)</p></td>
                                <td>Sat Mar 12 2016 at 12:00pm</td>
                                <td class="numbers">10</td>
                                <td class="numbers">900</td>
                                
                                <td class="action"><a href="#"><i class="fa fa-pie-chart"></i></a><a href="#"><i class="fa fa-list-ul"></i></a><a href="#"><i class="fa fa-edit"></i></a><a href="#"><i class="fa fa-eye"></i></a></td>
                            </tr>
                            <tr>
                                <td><a href="#"><strong>4110591</strong></a></td>
                                <td><p><a href="#"><strong>The Lion King</strong></a></p>
        <p>Minskoff theatre (New York, NY)</p></td>
                                <td>Sat Mar 12 2016 at 12:00pm</td>
                                <td class="numbers">10</td>
                                <td class="numbers">900</td>
                                
                                <td class="action"><a href="#"><i class="fa fa-pie-chart"></i></a><a href="#"><i class="fa fa-calendar-o"></i></a><a href="#"><i class="fa fa-edit"></i></a><a href="#"><i class="fa fa-eye"></i></a></td>
                            </tr>
                
                        </tbody>
                
                    </table>
                  </div>
                  <section class="grid-bottm clearfix">
                    <section class="gr-right pull-right">
                    	<ul class="legends">
                        	<li><i class="fa fa-calendar-o"></i> <span>Schedules</span></li>
                            <li><i class="fa fa-pie-chart"></i><span>Overview</span></li>
                            <li><i class="fa fa-list-ul"></i><span>Guest List</span></li>
                            <li><i class="fa fa-edit"></i><span>Edit</span></li>
                            <li><i class="fa fa-eye"></i><span>View</span></li>
                        </ul>
                    </section>
                </section>
              </section>
            </section>
        </section><!--/Past Events-->
        <section class="module">
        	<section class="prof-hd no-icon">
                   <!--<i class="fa fa-ticket hdicon pos-l16"></i>-->
                    <h2>Event Packages <span class="rt-img"><i class="fa fa-caret-down"></i></span></h2>
            </section>
            <section class="gray-frame">
            	<section class="top-buttons">
                	<button type="button" class="btn pink-btn btn-small"><i class="fa fa-plus-square"></i> Create Package</button><span class="file-input btn pink-btn btn-small btn-file">
                Export CSV <input type="file" multiple>
            </span>
                </section>
                
                <section class="grid-widget">
                  <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th width="10%">ID</th>
                                <th width="24%">Event</th>
                                <th width="20%">Date &amp; Time</th>
                                <th width="12%" class="numbers">Sold</th>
                                <th width="12%" class="numbers">Enventory</th>                        
                                <th width="22%">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                          
                            <tr>
                                <td><a href="#"><strong>4110591</strong></a></td>
                                <td><p><a href="#"><strong>The Lion King</strong></a></p>
        <p>Minskoff theatre (New York, NY)</p></td>
                                <td>Sat Mar 12 2016 at 12:00pm</td>
                                <td class="numbers">10</td>
                                <td class="numbers">900</td>
                                
                                <td class="action"><a href="#"><i class="fa fa-pie-chart"></i></a><a href="#"><i class="fa fa-calendar-o"></i></a><a href="#"><i class="fa fa-edit"></i></a><a href="#"><i class="fa fa-eye"></i></a></td>
                            </tr>
                            <tr>
                                <td><a href="#"><strong>4110591</strong></a></td>
                                <td><p><a href="#"><strong>The Lion King</strong></a></p>
        <p>Minskoff theatre (New York, NY)</p></td>
                                <td>Sat Mar 12 2016 at 12:00pm</td>
                                <td class="numbers">10</td>
                                <td class="numbers">900</td>
                                
                                <td class="action"><a href="#"><i class="fa fa-pie-chart"></i></a><a href="#"><i class="fa fa-list-ul"></i></a><a href="#"><i class="fa fa-edit"></i></a><a href="#"><i class="fa fa-eye"></i></a></td>
                            </tr>
                            <tr>
                                <td><a href="#"><strong>4110591</strong></a></td>
                                <td><p><a href="#"><strong>The Lion King</strong></a></p>
        <p>Minskoff theatre (New York, NY)</p></td>
                                <td>Sat Mar 12 2016 at 12:00pm</td>
                                <td class="numbers">10</td>
                                <td class="numbers">900</td>
                                
                                <td class="action"><a href="#"><i class="fa fa-pie-chart"></i></a><a href="#"><i class="fa fa-calendar-o"></i></a><a href="#"><i class="fa fa-edit"></i></a><a href="#"><i class="fa fa-eye"></i></a></td>
                            </tr>
                
                        </tbody>
                
                    </table>
                  </div>
                  <section class="grid-bottm clearfix">
                    <section class="gr-right pull-right">
                    	<ul class="legends">
                        	<li><i class="fa fa-calendar-o"></i> <span>Schedules</span></li>
                            <li><i class="fa fa-pie-chart"></i><span>Overview</span></li>
                            <li><i class="fa fa-list-ul"></i><span>Guest List</span></li>
                            <li><i class="fa fa-edit"></i><span>Edit</span></li>
                            <li><i class="fa fa-eye"></i><span>View</span></li>
                        </ul>
                    </section>
                </section>
              </section>
            </section>
        </section><!--/Event Packages-->
        <div class="editor-btn">
          <button class="gray-btn btn">Save</button>
          <button class="pink-btn btn">Next</button>
        </div>
    </div>
    
    <!-- //Form COntainer --> 
  </div>
  <!-- //Container --> 
  
</div>
