  
  
  
  <!-- Container -->
  <div class="container" ng-controller="eventhomeController">
      <h1>Event Dashboard</h1>
    
    <!-- Form COntainer -->
    
    <div class="form-section">
        <section class="d-panel">
        	<section class="d-panel-heading">In Progress</section>
            <section class="d-panel-body">In Progress</section>
        </section> 
       
        <div class="editor-btn">
          <button class="gray-btn btn">Save</button>
          <button class="pink-btn btn">Next</button>
        </div>
    </div>
    
    <!-- //Form COntainer --> 
  </div>
  <!-- //Container --> 
  
</div>
