<div class="container">
     <h1>{{page_title}} Venue</h1>
    
    <!-- Form COntainer -->
    
    <div class="form-section">
      <form class="venue-form" name="venue-form" ng-submit="saveVenue()" novalidate>
        <!-- Event Detail Form -->
       <div> 
          <!-- Location Group -->
          <div class="form-group field-group">
               <!-- Date Event Group -->
            <div class="event-date fieldSection">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="tab-content">
                    <div role="tabpanel"  id="venue-event" ng-hide="venue_event_div">
                      <div class="row">
                        <div class="col-sm-6" ng-class="{ 'has-error' : venue-form.venue_type.$invalid && !venue-form.venue_type.$pristine }">
                          <div class="form-group">
                            <label for="EventName">Venue Type<span class="req">*</span></label>
                            <select class="form-control" name="venue_type" ng-model="data.venue_type" required>
                              <option>Ticket</option>
                            </select>
                          </div>
			  <p ng-show="venue-form.venue_type.$invalid && !venue-form.venue_type.$pristine" class="help-block">Select Venue type.</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12" ng-class="{ 'has-error' : venue-form.venue_name.$invalid && !venue-form.venue_name.$pristine }">
                          <div class="form-group">
                            <label for="Venue">Venue<span class="req">*</span></label>
                            <input type="text" class="form-control" name="venue_name" ng-model="data.venue_name" required>
                          </div>
			  <p ng-show="venue-form.venue_name.$invalid && !venue-form.venue_name.$pristine" class="help-block">Enter Venue name.</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12">
                          <div class="form-group">
                            <label for="Address">Address<span class="req">*</span></label>
                            <input type="text" class="form-control" name="place" ng-model="place" ng-change="update(place)" g-places-autocomplete required><b>details (formatted address)</b>: {{details.formatted_address}}
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="City">City<span class="req">*</span></label>
                            <input type="text" class="form-control" name="city" ng-model="data.city">
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="Zipcode">Zipcode<span class="req">*</span></label>
                            <input type="text" class="form-control" name="zipcode" ng-model="data.zipcode">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="City">State<span class="req">*</span></label>
                            <select class="form-control" name="state" ng-model="data.state">
                              <option>Select State</option>
			      <option value="Punjab">Punjab</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="Zipcode">Country<span class="req">*</span></label>
                            <select class="form-control" name="country" ng-model="data.country">
                              <option value="USA">USA</option>
			      <option value="India">India</option>
                            </select>
                          </div>
                        </div>
                      </div>
		       <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="City">Timezone<span class="req"></span></label>
                            <select class="form-control" name="timezone" ng-model="data.timezone">
                              <option>Select Timezone</option>
			      <option>Pacific Time</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="Zipcode">Capacity<span class="req"></span></label>
                            <input type="text" class="form-control" name="capacity" ng-model="data.capacity">
                          </div>
                        </div>
                      </div>
		      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="City">Contact Name<span class="req"></span></label>
                            <input type="text" class="form-control" name="contact_name" ng-model="data.contact_name">
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="Zipcode">Phone<span class="req"></span></label>
                            <input type="text" class="form-control" name="phone" ng-model="data.phone">
                          </div>
                        </div>
                      </div>
		      
		      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="City">Fax<span class="req"></span></label>
                            <input type="text" class="form-control" name="fax" ng-model="data.fax">
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="Zipcode">Email<span class="req"></span></label>
                            <input type="text" class="form-control" name="email" ng-model="data.email">
                          </div>
                        </div>
                      </div>
		      
		      <div class="row">
                        <div class="col-sm-12">
                          <div class="form-group">
                            <label for="City">URL<span class="req"></span></label>
                            <input type="text" class="form-control" name="url" ng-model="data.url">
                          </div>
                        </div>
                      </div>
		      
		      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="City">Image<span class="req"></span></label>
                            <!--<input type="file" class="form-control" name="image" ng-model="data.image">-->
			    <input  id="inputFileToLoad" type="file" onchange="angular.element(this).scope().encodeImageFileAsURL(this)" file-model="file.myFiles">
                            <div id="imgTest" ng-model="picDatatest"></div>
			    <div id="data.image"><img ng-src="/images/venues/{{ data.image }}"></div> 
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="Zipcode">Seating Chart<span class="req"></span></label>
                            <input  id="inputFileToLoad5" type="file" onchange="angular.element(this).scope().encodeChartFileAsURL(this)" file-model="file.seating_chart">
			      <div id="imgTest5" ng-model="picDatatest5"></div>
			      <div id="data.seating_chart"><img ng-src="/images/venues/{{ data.seating_chart }}"></div> 
			    <!--<input type="file" class="form-control" name="seating_chart" ng-model="data.seating_chart">-->
                          </div>
                        </div>
                      </div>
		      
                    </div>
                   
                  </div>
                  
                  <!-- Tab panes -->
                  
                </div>
                <div class="col-sm-12 col-md-6"> <img src="images/map.jpg" class="img-responsive" alt="" /> </div>
		
              </div>
            </div>
          </div>
          <!-- //Location Group -->
      
        <!-- //Event Detail Form -->
         </div>
         <div class="editor-btn">
          
           <button class="pink-btn btn">Save</button>
          
         </div>
     </form>
     </div>
    
    <!-- //Form COntainer --> 
  </div>