<div class="container">
     <h1>View all Venues</h1>
    
    <!-- Form COntainer -->
    
    <div class="wt-frame form-section">
      <form class="event-form">
        <!-- Event Detail Form -->
   
          <div class="form-group row">
          	<section class="col-sm-6">
            	<section class="search-event">
                    <input type="text" name="eventname" class="form-control search-field" placeholder="Enter your keyword">
                    <i class="fa fa-search"></i>
                </section>
            </section>
          </div>
          <!--Ticket Types Start -->
          <div class="module">             	
                <section class="gray-frame sub-fields">
                  <section class="grid-btn-top row">
                  	  <section class="col-sm-7">
                      	<section class="top-buttons">
                            <button class="btn pink-btn btn-small" type="button"><i class="fa fa-plus-square"></i> Add New Venue</button>
                        </section>
                      </section>
                      <section class="col-sm-5 right-btns text-right">
                      	  
                          
                      </section>
                    </section>
                  <section class="grid-widget">
                      <div class="table-responsive">
                          
            
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th width="15%">Name</th>
                            <th width="10%" class="numbers">Type</th>
                            <th width="14%" class="numbers">City</th>
                            <th width="13%" class="numbers">State</th>
                            <th width="14%" class="numbers">Country</th>
                            <th width="12%" class="numbers">Zipcode</th>
                            <th width="23%">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in venuedata">
                            <td><strong>{{data.venue_name}}</strong></td>
                            <td class="numbers">{{data.venue_type}}</td>
                            <td class="numbers">{{data.city}}</td>
			    <td class="numbers">{{data.state}}</td>
                            <td class="numbers">{{data.country}}</td>
                            <td class="numbers">{{data.zipcode}}</td>
                            <td class="action"><a href="#/edit_venue/{{data.id}}"><i class="fa fa-edit"></i></a><a href="#"><i class="fa fa-check-circle"></i></a><a href="#"><i class="fa fa-trash"></i></a></td>
                        </tr>
			<tr ng-show="loader">
			    <td colspan="7" align="center"><img src="/images/icons/loader.gif"></td>
			</tr>
		    </tbody>
            
                </table>
            
            
                      </div>
                  </section>
                  
                  <section class="grid-bottm clearfix">
                  		<section class="paging">
                             <label class="lt-label">Page</label>
                             <ul class="page-list">
                             	<li class="first-page page-btn"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                                <li class="prev-page page-btn"><a href="#"><i class="fa fa-angle-left"></i></a></li>   
                                <li class="active"><a href="#">1</a></li>    
                                <li><a href="#">2</a></li>      
                                <li><a href="#">3</a></li>      
                                <li><a href="#">4</a></li>      
                                <li><a href="#">5</a></li>  
                                <li><a href="#">6</a></li> 
                                <li class="next-page page-btn"><a href="#"><i class="fa fa-angle-right"></i></i></a></li>  
                                <li class="last-page page-btn"><a href="#"><i class="fa fa-angle-double-right"></i></a></li>  
                             </ul>
                        </section>
                        <section class="gr-right pull-right">
                            <ul class="legends">
                                <li><i class="fa fa-pencil-square-o"></i> <span>Edit</span></li>
                                <li><i class="fa fa-check-circle"></i><span>active</span></li>
                                <li><i class="fa fa-trash"></i><span>delete</span></li>
                            </ul>
                        </section>
                   </section>
                
      			</section>
          </div>
          <!-- Ticket Types Closed --> 
                 
          
          
      
      </form>
     
             
          
    </div>
    
    <!-- //Form COntainer --> 
    
  </div>