<div class="container">
     <h1>View all Events</h1>
    
    <!-- Form COntainer -->
    
    <div class="wt-frame form-section">
      <form class="event-form">
        <!-- Event Detail Form -->
   
          <div class="form-group row">
          	<section class="col-sm-6">
            	<section class="search-event">
                    <input type="text" name="eventname" class="form-control search-field" placeholder="Enter your keyword">
                    <i class="fa fa-search"></i>
                </section>
            </section>
          </div>
          <!--Ticket Types Start -->
          <div class="module">             	
                <section class="gray-frame sub-fields">
                  <section class="grid-btn-top row">
                  	  <section class="col-sm-7">
                      	<section class="top-buttons">
                            <button class="btn pink-btn btn-small" type="button"><i class="fa fa-plus-square"></i> Create Event</button><span class="file-input btn pink-btn btn-small btn-file">Export CSV <input type="file" multiple></span>
                        </section>
                      </section>
                      <section class="col-sm-5 right-btns text-right">
                      	  <section class="inline-section">
                              <select class="form-control select30">
                                  <option value="Ticket">Filter by</option>
                              </select>
                          </section>
                          <section class="inline-section">
                              <select class="form-control select30">
                                  <option value="Ticket">Sort by</option>
                              </select>
                          </section>
                          <button class="pink-btn btn btn-small m-fw">Date Range</button>
                      </section>
                    </section>
                  <section class="grid-widget">
                      <div class="table-responsive">
                          
            
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th width="15%">Name</th>
                            <th width="10%" class="numbers">Sold</th>
                            <th width="14%" class="numbers">Remaining</th>
                            <th width="13%" class="numbers">Price</th>
                            <th width="14%" class="numbers">Box office <span class="l-b">Price</span></th>
                            <th width="12%" class="numbers">Limit</th>
                            <th width="23%">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>Balcony</strong></td>
                            <td class="numbers">12</td>
                            <td class="numbers">900</td>
                            <td class="numbers">$10.00</td>
                            <td class="numbers">$15.00</td>
                            <td class="numbers">850</td>
                            <td class="action"><a href="#"><i class="fa fa-edit"></i></a><a href="#"><i class="fa fa-tags"></i></a><a href="#"><i class="fa fa-check-circle"></i></a><a href="#"><i class="fa fa-trash"></i></a></td>
                        </tr>
                        <tr>
                            <td><strong>Dress Circle</strong></td>
                            <td class="numbers">12</td>
                            <td class="numbers">900</td>
                            <td class="numbers">$10.00</td>
                            <td class="numbers">$15.00</td>
                            <td class="numbers">850</td>
                            <td class="action"><a href="#"><i class="fa fa-edit"></i></a><a href="#"><i class="fa fa-tags"></i></a><a href="#"><i class="fa fa-check-circle"></i></a><a href="#"><i class="fa fa-trash"></i></a></td>
                        </tr>
                        <tr>
                            <td><strong>Loge</strong></td>
                            <td class="numbers">12</td>
                            <td class="numbers">900</td>
                            <td class="numbers">$10.00</td>
                            <td class="numbers">$15.00</td>
                            <td class="numbers">850</td>
                            <td class="action"><a href="#"><i class="fa fa-edit"></i></a><a href="#"><i class="fa fa-tags"></i></a><a href="#"><i class="fa fa-check-circle"></i></a><a href="#"><i class="fa fa-trash"></i></a></td>
                        </tr>
                        <tr>
                            <td><strong>Orchestra</strong></td>
                            <td class="numbers">12</td>
                            <td class="numbers">900</td>
                            <td class="numbers">$10.00</td>
                            <td class="numbers">$15.00</td>
                            <td class="numbers">850</td>
                            <td class="action"><a href="#"><i class="fa fa-edit"></i></a><a href="#"><i class="fa fa-tags"></i></a><a href="#"><i class="fa fa-check-circle"></i></a><a href="#"><i class="fa fa-trash"></i></a></td>
                        </tr>
                        <tr>
                            <td><strong>Balcony</strong></td>
                            <td class="numbers">12</td>
                            <td class="numbers">900</td>
                            <td class="numbers">$10.00</td>
                            <td class="numbers">$15.00</td>
                            <td class="numbers">850</td>
                            <td class="action"><a href="#"><i class="fa fa-edit"></i></a><a href="#"><i class="fa fa-tags"></i></a><a href="#"><i class="fa fa-check-circle"></i></a><a href="#"><i class="fa fa-trash"></i></a></td>
                        </tr>
            
                    </tbody>
            
                </table>
            
            
                      </div>
                  </section>
                  
                  <section class="grid-bottm clearfix">
                  		<section class="paging">
                             <label class="lt-label">Page</label>
                             <ul class="page-list">
                             	<li class="first-page page-btn"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                                <li class="prev-page page-btn"><a href="#"><i class="fa fa-angle-left"></i></a></li>   
                                <li class="active"><a href="#">1</a></li>    
                                <li><a href="#">2</a></li>      
                                <li><a href="#">3</a></li>      
                                <li><a href="#">4</a></li>      
                                <li><a href="#">5</a></li>  
                                <li><a href="#">6</a></li> 
                                <li class="next-page page-btn"><a href="#"><i class="fa fa-angle-right"></i></i></a></li>  
                                <li class="last-page page-btn"><a href="#"><i class="fa fa-angle-double-right"></i></a></li>  
                             </ul>
                        </section>
                        <section class="gr-right pull-right">
                            <ul class="legends">
                                <li><i class="fa fa-pencil-square-o"></i> <span>Edit</span></li>
                                <li><i class="fa fa-tags"></i><span>change price</span></li>
                                <li><i class="fa fa-check-circle"></i><span>active</span></li>
                                <li><i class="fa fa-trash"></i><span>delete</span></li>
                            </ul>
                        </section>
                   </section>
                
      			</section>
          </div>
          <!-- Ticket Types Closed --> 
          
          
          
          <div class="editor-btn">
          <button class="gray-btn btn">Back</button>
           <button class="pink-btn btn">Save</button>
          <button class="pink-btn btn">Next</button>
        </div>   
      
      </form>
     
             
          
    </div>
    
    <!-- //Form COntainer --> 
    
  </div>